# ============================================================
# ASTRO TV — Configurações do Firebase Firestore & Nuvem
# Cole aqui as credenciais do seu projeto no Firebase Console
# ============================================================

FIREBASE_API_KEY=AIzaSyCN5ejr-wnBvno_Z8M1M4wffmpZizmvQzo
FIREBASE_AUTH_DOMAIN=astrotv-live.firebaseapp.com
FIREBASE_DATABASE_URL=https://astrotv-live-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=astrotv-live
FIREBASE_STORAGE_BUCKET=astrotv-live.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=700807485894
FIREBASE_APP_ID=1:700807485894:web:50564d83e8306c7766bac7